<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-nowrap p-5 flex-row items-center">

    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Messenger</span>
    </a>

    <nav class="hidden lg:block lg:ml-auto lg:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="menu-item">First Link</a>
      <a class="menu-item">Second Link</a>
      <a class="menu-item">Third Link</a>
      <a class="menu-item">Fourth Link</a>
    </nav>

    <!-- Right elements -->
    <nav class="ml-auto flex flex-wrap items-center text-base justify-center">
      <!-- <a class="mr-5 hover:text-gray-900">First Link</a>-->
      <div class="flex items-center relative">
        <!-- Icon -->
        <div class="dropdown relative" (clickOutside)="closeMenu()" (keydown.escape)="closeMenu()" appClickOutside>

          <a class="notify-me" (click)="toggleMenu()">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
                 class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                    d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z">
              </path>
            </svg>
            <span *ngIf="messages.length" class="text-white bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-2 py-0 px-1.5">{{ messages.length }}</span>
          </a>

          <ul [ngClass]="showMenu ? 'absolute' : 'hidden'" class="drop-menu">
            <li class="dropdown-item" *ngFor="let message of messages; let i = index">
              <div class="flex flex-col">
                <div class="font-semibold mb-2 text-ellipsis overflow-hidden">{{ message.subject}}</div>
                <div class="text-ellipsis overflow-hidden">{{ message.body}}</div>
                <div>{{message.sentDateTime | timeDistance}}</div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <!-- Right elements -->

  </div>
</header>

